<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>CKEditor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    .ck-editor__editable {
      height: 500px;
    }
    .ck-content {
      font-size: 12px;
    }
  </style>
</head>

<body style="background-color: #6c757d" class="d-flex align-items-center justify-content-center vh-100">

<div style="width: 90%; margin: 0 auto;">
  <button type="button" id="myTeam" class="btn btn-sm btn-dark"  data-bs-toggle="modal" data-bs-target="#teamShare">일정공유</button>
  <textarea name="text" id="editor">
    제목 : <p th:text="${schedule.getScTitle()}">drgbksbgkjsbkdfb</p> <li>sfsdfhskdhfkshkd</li>
    시작일 : <p th:text="${schedule.getScSdate()}"></p>
    종료일 : <p th:text="${schedule.getScEdate()}"></p>
    동행 : <p></p>
    상태 : <p th:if="${schedule.getScProgress()}==1"></p>
    <a th:href="@{goToRecycleBin?scNo={scNo}(scNo=${schedule.getScNo()})}">휴지통 이동</a>
  </textarea>
</div>

<!-- 일정공유팝업창 -->
<div class="modal" tabindex="-1" id="teamShare" aria-labelledby="trash" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select People</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <!-- 모달 헤더 끝 --->
      <!-- 모달 바디 시작 -->
      <div class="modal-body">
        <!-- 1.검색창-->
        <div class="input-group">
          <input type="text" class="form-control"style="width:80%;" id="inputBox">
          <button class="btn btn-outline-dark">search</button>
        </div>
        <!-- 2.검색시 출력될 박스 -->
        <div style="height: 30px;">
          <div class="alert alert-success" id="resultBox" style="display: none;">
            <span id="typedText"></span>
          </div>
        </div>
        <!-- 3.동행 리스트 -->
        <div class="card mt-5" style="width: 100%">
          <ul class="list-group list-group-flush">
            <!-- 동행 -->
            <li class="list-group-item d-flex justify-content-between" th:each="team : ${teamList}">
              <!-- 동행 이미지 & 아이디 -->
              <input type="hidden" id="teamMid" th:value="${team.teamMid}">
              <span>
                  <span style="display: inline-block; width: 24px; line-height: 30px; height: 30px; border: 1px solid gray; border-radius: 30px; overflow: hidden;">
                      <img style="width: 100%; height: 100%; object-fit: cover;" src=""/>
                  </span> [[${team.teamMid}]] [[${imageList.get(teamStat.index)}]]
              </span>
              <!-- 권한 변경 dropdown -->
              <div class="btn-group">
                <select id="teamLevel">
                  <option class="btn-secondary" value="0" th:selected="${team.getTeamLevel()==0}" th:disabled="${team.getTeamLevel()==9}">읽기권한</option>
                  <option class="btn-secondary" value="1" th:selected="${team.getTeamLevel()==1}" th:disabled="${team.getTeamLevel()==9}">수정권한</option>
                  <hr>
                  <option class="btn-secondary" value="9" th:selected="${team.getTeamLevel()==9}" th:disabled="${team.getTeamLevel()==1 || team.getTeamLevel()==0}">호스트</option>
                </select>
              </div>
            </li>
          </ul>
        </div>
        <!-- 모달 바디 끝 -->
        <!-- 모달 푸터 시작 --->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
  <script>
    const queryString = window.location.search; //?scNo=1
    const scNo = new URLSearchParams(queryString).get('scNo'); //1

    ClassicEditor.create(document.querySelector('#editor'), {

    });

    //#inputBox의 키이벤트 발생 시 호출
    $("#inputBox").on("keyup", function() {
      // 키보드 입력값 가져오기
      let typedText = this.value;
      if (typedText == "") { // 키보드 입력값이 없다면 제시어 숨기고 함수 종료
        document.getElementById("resultBox").style.display = "none";
        return;
      }
      //입력값을 typedText 변수에 담아 AJAX 요청으로 DB에 저장된 스케줄 출력될 수 있도록 구현하기
      document.getElementById('resultBox').style.display = 'block';
      document.getElementById('typedText').textContent = typedText;

      $.ajax({
        url: "/members?memId="+typedText,
        type: "GET",
        success: function(result) {
          let button = "<button class='btn btn-sm btn-outline-dark' ";
          if(result.memId==typedText){
            button += "onclick='addTeam(\""+result.memId+"\")'>"+result.memId+"</button>";
          } else{
            button += "onclick='addTeam()'></button>";
          }
          console.log("button = " +button);
          if(result.memId==typedText){
            $('#typedText').text("");
            $("#typedText").append(button);
          }
        },
        error: function(xhr, status, error) {
          console.error("error: ", status, ", ", error);
        }
      });
    });


    //클릭 시 이메일 전송과 동행에 추가되는 함수
    function addTeam(memId){
      if(confirm(memId+"님을 일정에 초대하시겠습니까?")){

        //이메일 전송

        $.ajax({ //동행 추가
          url: "/teams/share/"+scNo,
          type: "POST",
          contentType: "application/json",
          dataType: "text",
          data: JSON.stringify({"memId": memId}),
          success: function(result) {
            location.href="/schedules?scNo="+scNo;
          },
          error: function(xhr, status, error) {
            console.error("error: ", status, ", ", error);
          }
        });
      }
    }

    //
    $("#teamLevel").on("change", function() {
      const teamLevel = $("#teamLevel").val(); //선택된 권한레벨 값
      const teamMId = $("#teamMid").val();
      console.log(teamMId)
      console.log(teamLevel)

      //http://localhost:8080/teams/share/1  : teamMId=member?teamLevel=0
      $.ajax({ //동행 권한 변경
        url: "/teams/share/"+scNo,
        type: "PATCH",
        contentType: "application/json",
        dataType: "text",
        data: JSON.stringify({"teamMId": teamMId, "teamLevel": teamLevel} ),
        success: function(result) {
          //selected 수정해주기
        },
        error: function(xhr, status, error) {
          console.error("error: ", status, ", ", error);
        }
      });
    });


  </script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</body>
</html>

<!-- let html;
for(let i=0; i<result.length; i++){
  html += '<li className="list-group-item d-flex justify-content-between">';
  html += '<span><span style="display: inline-block; width: 24px; line-height: 30px; height: 30px; border: 1px solid gray; border-radius: 30px; overflow: hidden;">';
  html += '<img style="width: 100%; height: 100%; object-fit: cover;" src=""/>';
  html += '</span>' + result[i].team.teamMid +'<br>'+ result[i].image +'</span>';
  //권한 변경 dropdown
  html +=  '<div className="btn-group">';
  html +=  '<select id="teamLevel_'+result[i].team.teamNo+'">';
  if(result[i].team.teamLevel == 0){
    html +=  '<option className="btn-secondary" selected value="0">읽기권한</option>';
    html +=  '<option className="btn-secondary" value="1">수정권한</option><hr>';
    html +=  '<option className="btn-secondary" disabled value="9">호스트</option>';
  } else if(result[i].team.teamLevel == 1){
    html +=  '<option className="btn-secondary" value="0">읽기권한</option>';
    html +=  '<option className="btn-secondary" selected value="1">수정권한</option><hr>';
    html +=  '<option className="btn-secondary" disabled value="9">호스트</option>';
  } else if(result[i].team.teamLevel == 9){
    html +=  '<option className="btn-secondary" disabled value="0">읽기권한</option>';
    html +=  '<option className="btn-secondary" disabled value="1">수정권한</option><hr>';
    html +=  '<option className="btn-secondary" selected value="9">호스트</option>';
  }
  html +=  '</select>';
  html +=  '</div>';
  html +=  '</li>';
  $("#teamList").html(html); -->
}